/* Regular */
@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/font/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/font/webfonts/JetBrainsMono-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/font/webfonts/JetBrainsMono-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

/* Medium Italic */
@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/font/webfonts/JetBrainsMono-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
}

/* SemiBold */
@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/font/webfonts/JetBrainsMono-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

/* SemiBold Italic */
@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/font/webfonts/JetBrainsMono-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/font/webfonts/JetBrainsMono-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/font/webfonts/JetBrainsMono-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}

/* ExtraBold */
@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/font/webfonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

/* ExtraBold Italic */
@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/font/webfonts/JetBrainsMono-ExtraBoldItalic.woff2") format("woff2");
    font-weight: 800;
    font-style: italic;
}

/* ExtraLight */
@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/font/webfonts/JetBrainsMono-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}

/* ExtraLight Italic */
@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/font/webfonts/JetBrainsMono-ExtraLightItalic.woff2") format("woff2");
    font-weight: 200;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/font/webfonts/JetBrainsMono-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

/* Light Italic */
@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/font/webfonts/JetBrainsMono-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
}

/* Thin */
@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/font/webfonts/JetBrainsMono-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

/* Thin Italic */
@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/font/webfonts/JetBrainsMono-ThinItalic.woff2") format("woff2");
    font-weight: 100;
    font-style: italic;
}